<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="SistemaAtendimentoDB" 
		 providerName="Microsoft.Data.SqlClient" 
		 connectionString="Data Source=MAR0625657W10-1;Initial Catalog=SistemaAtendimento;
		 User ID=sa;Password=senac2025;
		 TrustServerCertificate=True;Integrated Security=false"
			 />
	</connectionStrings>
</configuration>